body {
    background: url('/assets/crew/background-crew-mobile.jpg') repeat-y;
}
.main {
    width: 86%;
    padding-top: 2.4rem;
    text-align: center;
}

.main header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;
}

header img:first-child {
    width: 40px;
}

.main h2 {
    margin: 0 auto;
    margin-bottom: 3.2rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    letter-spacing: 2.7px;
    word-spacing: 4.8px;
}

.main > h2 span {
    color: dimgray;
    font-weight: bold;
}

.main .main__img {
    width: 170px;
}

.main__nav--list {
    display: flex;
    justify-content: space-evenly;
    width: 36%;
    margin: 0 auto;
    margin-bottom: 3.1rem;
    padding-left: 0;
}

.main__nav--list li {
    width: 10px;
    height: 10px;
    background-color: var(--white);
    opacity: 0.5;
    border-radius: 50%;
}

.main h3 {
    margin-bottom: 1.2rem;
    font-family: "Bellefair";
    font-size: 1.6rem;
    font-weight: 400;
    opacity: 0.6;
    text-transform: uppercase;
}

.main h4 {
    margin-top: 0;
    margin-bottom: 1.6rem;
    font-family: "Bellefair";
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: uppercase;
}

.main p {
    margin: 0;
    margin-bottom: 3.6rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    color: var(--light-blue);
    line-height: 1.7;
    font-size: 1.6rem;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    text-wrap: pretty;
}

.main .main__pilot_description {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.main .main__engineer_description {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
}

.main hr {
    margin-top: -3px;
    margin-bottom: 3.2rem;
    border: none;
    height: 0.1px;
    background-color: dimgray;
}