/* Mobile */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

:root {
    /* Colors */
    --dark-blue: #0B0D17;
    --light-blue: #D0D6F9;
    --white: #FFF;
    box-sizing: border-box;
}
/* Home Styles*/
html {
    font-size: 62.5%;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: url('/assets/home/background-home-mobile.jpg');
    background-position: center;
    background-size: cover;
    color: var(--white);
}

ul {
    list-style: none;
}

a {
    color: var(--white);
    text-decoration: none;
}

.hidden {
    display: none;
}