body {
    background: url('/assets/destination/background-destination-mobile.jpg') repeat-y;
}
.main {
    width: 86%;
    padding-top: 2.4rem;
    text-align: center;
}

.main header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;
}

header img:first-child {
    width: 40px;
}

.main h3 {
    margin: 0 auto;
    margin-bottom: 3.2rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    letter-spacing: 2.7px;
    word-spacing: 4.8px;
}

.main h3 span {
    color: dimgray;
    font-weight: bold;
}

.main .main__img {
    width: 170px;
    margin-bottom: 2.6rem;
}

.main__nav--list {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 3.1rem;
    padding-left: 0;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.main h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Bellefair", serif;
    font-size: 5.6rem;
    font-weight: 400;
    text-transform: uppercase;
}

.main p {
    margin: 0;
    margin-bottom: 3.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--light-blue);
    line-height: 1.7;
    font-size: 1.6rem;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    text-wrap: pretty;
}

.main hr {
    margin-bottom: 3.2rem;
    border: none;
    height: 0.1px;
    background-color: dimgray;
}

.travel-data  p{
    margin-bottom: 1.2rem;
    text-transform: uppercase;
}

.travel-data  p:last-child {
    color: var(--white);
    font-family: "Bellefair", serif;
    font-size: 2.8rem;
}

/* Tablel */
@media (min-width: 380px) {
    body {
        background: url('/assets/destination/background-destination-tablet.jpg') repeat-y;
    }

    .main {
        width: 100%;
        padding: 0;
    }

    .main header {
        height: 96px;
        margin-left: 3.9rem;
        margin-bottom: 4rem;
    }

    header img:first-child {
        width: 48px;
    }

    header nav {
        display: flex;
        align-items: center;
        width: 62%;
        height: 100%;
        background-color: #1e212d;
    }

    header ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        font-family: "Barlow Condensed";
        font-size: 1.6rem;
        text-transform: uppercase;
    }

    .main h3 {
        margin-left: 3.9rem;
        text-align: left;
    }

    .main .main__img {
        width: 300px;
        aspect-ratio: 1 / 1;
    }

    .main__nav--list {
        width: 35%;
        margin-inline: auto;
        margin-bottom: 3.2rem;
        font-size: 1.6rem;
        color: var(--light-blue)
    }

    .main h2 {
        font-size: 8rem;
        margin-bottom: 1.6rem;
    }

    .main p {
        width: 60%;
        margin-inline: auto;
        margin-bottom: 4.9rem;
        line-height: 1.8;
    }

    .main hr {
        width: 60%;
    }

    .travel-data-container {
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin-inline: auto;
        margin-bottom: 4.9rem;
    }

    .travel-data  p{
        width: fit-content;
        margin-bottom: 0.4rem;
        text-transform: uppercase;
    }
}

/* Desktop */
@media (min-width: 780px) {
    body {
        background: url('/assets/destination/background-destination-desktop.jpg') repeat-y;
    }

    .main {
        display: flex;
        flex-direction: column;
        row-gap: 7.6rem;
        text-align: initial;
    }

    .main header {
        margin-top: 4rem;
        margin-bottom: 0;
    }

    header > nav {
        position: relative;
        background-color: rgba(255, 255, 255, 0.021);
        backdrop-filter: blur(15px);
    }

    header > nav span {
        margin-right: 1rem;
        font-weight: bold;
    }

    header .header-hr {
        position: absolute;
        top: calc(50% - 6px);
        left: -46%;
        width: 50%;
        border: none;
        height: 0.1px;
        background-color: dimgray;
    }

    .main .main__home-content {
        display: flex;
        justify-content: space-between;
        width: 78%;
        margin-inline: auto;
        margin-bottom: 5rem;
    }

    .main .main__home-content--image {
        display: flex;
        flex-direction: column;
        width: 45%;
    }

    .main h3 {
        margin-left: 0;
        margin-bottom: 9.7rem;
        font-size: 2.8rem;
        letter-spacing: 4.72px;
    }

    .main h3 span {
        margin-right: 1rem;
    }

    .main .main__img {
        align-self: flex-end;
        width: 445px;
        height: 445px;
    }

    .main__nav--list {
        width: 64%;
        margin-inline: 0;
        justify-content: space-between;
    }

    .main h2 {
        font-size: 10rem;
    }

    .main__home-content--description > p {
        width: 78%;
        margin: 0;
        margin-bottom: 5rem;
        padding: 0;
        font-size: 1.8rem;
        text-wrap: initial;
    }

    .main__home-content--description hr {
        width: 78%;
        margin-inline: 0;
    }

    .main .main__home-content--description {
        width: 40.2%;
        align-self: flex-end;
    }

    .main__home-content--description .travel-data-container {
        width: 100%;
        justify-content: unset;
        column-gap: 8rem;
        margin-inline: 0;
    }

    .travel-data p {
        margin-inline: 0;
        padding: 0;
    }
}