.main {
    width: 86%;
    padding-top: 2.4rem;
    text-align: center;
}

.main header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

header img:first-child {
    width: 40px;
}

.main h1 {
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: "Barlow Condensed";
    font-weight: 400;
    letter-spacing: 4.5px;
    line-height: 1.7;
}

.main h1 span {
    display: block;
    font-size: 8.6rem;
    font-family: "Bellefair", serif;
}

.main p {
    margin: 0;
    margin-bottom: 8.1rem;
    line-height: 1.7;
    font-size: 1.6rem;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
}

.main .primary {
    width: 150px;
    height: 150px;
    margin-bottom: 3.8rem;
    border: none;
    border-radius: 50%;
    background-color: var(--white);
    font-family: "Bellefair", serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.25px;
}

/* Mobile menu */

.mobile_menu {
    position: absolute;
    right: 0;
    width: 75%;
    height: 100vh;
    backdrop-filter: blur(20px);
}

.mobile_menu .mobile_menu__navigation {
    margin-top: 120px;
    font-family: "Barlow Condensed";
    font-size: 1.6rem;
}

.mobile_menu li {
    width: fit-content;
    margin-bottom: 3.6rem;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.mobile_menu span {
    margin-right: 1rem;
    font-weight: bold;
}

.mobile_menu li:nth-of-type(2) span {
    margin-right: 1.2rem;
}

/* Tablet */
@media (min-width: 380px) {

    body {
        background: url('/assets/home/background-home-tablet.jpg') repeat-y;
    }

    .main {
        width: 100%;
        padding: 0;
    }

    .main header {
        height: 96px;
        margin-left: 3.9rem;
        margin-bottom: 10.6rem;
    }

    header img:first-child {
        width: 48px;
    }

    header img:last-child {
        display: none;
    }

    header nav {
        display: flex;
        align-items: center;
        width: 62%;
        height: 100%;
        background-color: #161a2f;
    }

    header ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        font-family: "Barlow Condensed";
        font-size: 1.6rem;
        text-transform: uppercase;
    }

    .main h1 {
        font-size: 2rem;
        line-height: 1.4;
    }

    .main > h1 span {
        font-size: 15rem;
    }

    .main p {
        width: 50%;
        margin-inline: auto;
        margin-bottom: 15.6rem;
        text-wrap: pretty;
        line-height: 1.8;
    }
}

/* Desktop */
@media (min-width: 780px) {
    body {
        background: url('/assets/home/background-home-desktop.jpg') repeat-y;
    }

    .main {
        display: flex;
        flex-direction: column;
        row-gap: 25rem;
        text-align: initial;
    }

    .main header {
        margin-top: 4rem;
        margin-bottom: 0;
    }

    header > nav {
        position: relative;
        background-color: rgba(255, 255, 255, 0.021);
        backdrop-filter: blur(15px);
    }

    header > nav span {
        margin-right: 1rem;
        font-weight: bold;
    }

    header .header-hr {
        position: absolute;
        top: calc(50% - 6px);
        left: -46%;
        width: 50%;
        border: none;
        height: 0.1px;
        background-color: dimgray;
    }

    .main .main__home-content {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-inline: auto;
    }

    .main h1 {
        font-size: 2.8rem;
    }

    .main h1 span {
        font-size: 15rem;
    }

    .main p {
        width: 444px;
        margin: 0;
        font-size: 1.8rem;
        text-wrap: balance;
    }

    .main .main__home-content--button {
        align-self: flex-end;
        margin-bottom: 13rem;
    }

    .main__home-content--button .primary {
        width: 274px;
        height: 274px;
        font-size: 3.2rem;
    }
}